.vscode

frontend/.vscode
frontend/.angular
frontend/node_modules
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out
frontend/yarn-error.log

frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

frontend/.DS_Store
frontend/Thumbs.db
frontend/pnpm-lock.yaml

backend/__pycache__